<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static\css\style.css">

</head>
<body>
    <header class="top-left-header">
        <h1>Jungle Detectives, an AI platform to classify Big Cats species</h1>
    </header>
    <a href="/" class="top-left-link">Index  </a> 
    <a href="/prediction" class="top-right-link">Predict</a>
    <div class="center-container">
        <p class="center-text">
             
The Big Cat Species Classification project leverages advanced machine learning to automate the identification of big cat species, contributing to wildlife conservation and education. While offering benefits for conservation and education, challenges include dataset limitations and interpretability issues with complex models. The project demonstrates a commitment to continuous improvement and ethical considerations, emphasizing responsible AI deployment in wildlife conservation. Despite challenges, the project holds promise with its user-friendly interface, interpretability tools, and ethical AI practices, fostering a connection between technology and environmental stewardship.      
        </p>
      </div>
</body>
</html>
