
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="static\css\style.css">
<body>
    <header class="top-left-header">
        <h1>Jungle Detectives, Index Page</h1>
    </header>
    <a href="/home" class="top-left-link"> Home</a>
    <a href="/prediction" class="top-right-link">Predict</a>
    <div class="center-container">
        <p class="center-text">
            Welcome to "Jungle Detectives," your gateway to the Big Cat Species Classifier. Navigate through our website using the home page to explore in-depth information about this groundbreaking project. Head to the predict page for an interactive experience, where the magic of classifying big cat species comes to life. Join us on this journey of discovery and conservation through advanced technology and wildlife appreciation.     
        </p>
    </div>
    </body>
</body>
</html>
